---
import '@fontsource/orbit';
import '@fontsource-variable/noto-sans-mono';

const {title} = Astro.props;
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
</head>
<body class="flex items-center justify-center min-h-screen w-screen overflow-x-clip bg-orange-100 lg:p-8">
<main class="flex flex-col border-8 border-black flex-1 shadow-xl bg-orange-100" id="root">
    <nav class="text-4xl flex flex-row col-span-3 row-span-1 items-center *:p-4 border-black border-b-8 *:border-black h-28 bg-orange-100">
        <a href="/" class="flex items-center gap-4 text-7xl flex-1 h-full">
            <div class="inline-grid grid-cols-3 grid-rows-3 w-12 h-12 *:border-black *:border-2 *:w-full *:h-full *:col-span-1">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
            <h1 class="-mt-4">
                Moursy.org
            </h1>
        </a>
        <a href="/bloog" class="h-full flex items-center border-l-8">Bloog</a>
        <a href="#" class="h-full flex items-center border-l-8" hx-swap="outerHTML" hx-get="/htmx/kaboom" hx-push-url="/bazooka"
           hx-target="#root">Bazooka 💥</a>
    </nav>
    <slot/>
</main>
</body>
<script>
    // include htmx
    import 'htmx.org';
</script>
</html>

<style>
    html,
    body {
        @apply orbit m-0 w-full;
    }

    * {
        box-sizing: border-box;
    }

    :global(a) {
        @apply underline decoration-2;
    }

    :global(ul) {
        list-style: '- ';
        @apply list-inside ml-4;
    }

    a {
        @apply decoration-4;
    }

    .orbit {
        font-family: 'Orbit', 'Noto Sans Mono Variable', monospace;
        font-variant-ligatures: no-common-ligatures;
    }
</style>
