---
import BaseLayout from "./BaseLayout.astro";
---
<BaseLayout>
    <main class="flex flex-col border-8 border-black shadow-xl bg-orange-100" id="root">
        <nav class="text-4xl flex flex-row col-span-3 row-span-1 items-center *:p-4 border-black border-b-8 *:border-black h-28 bg-orange-100">
            <a href="/" class="flex items-center gap-4 text-7xl flex-1 h-full">
                <div class="inline-grid grid-cols-3 grid-rows-3 w-12 h-12 *:border-black *:border-2 *:w-full *:h-full *:col-span-1">
                    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                </div>
                <h1 class="-mt-4">
                    Moursy.org
                </h1>
            </a>
            <a href="/bloog" class="h-full flex items-center border-l-8">Bloog</a>
            <a href="/kaboom" class="h-full flex items-center border-l-8">Bazooka 💥</a>
        </nav>
        <slot/>
    </main>
</BaseLayout>